<div class="padded">
    <div class="item row" ng-if="ContentHome.moderationEnabled">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-fifteen" role="group">
                <button type="button" class="btn" ng-class="ContentHome.filterStatus === 'pending' ? 'btn-primary' : 'btn-default'" ng-click="ContentHome.filterByStatus('pending')">
                    Pending ({{ContentHome.pendingCount}})
                </button>
                <button type="button" class="btn" ng-class="ContentHome.filterStatus === 'approved' ? 'btn-primary' : 'btn-default'" ng-click="ContentHome.filterByStatus('approved')">
                    Approved ({{ContentHome.approvedCount}})
                </button>
                <button type="button" class="btn" ng-class="ContentHome.filterStatus === 'rejected' ? 'btn-primary' : 'btn-default'" ng-click="ContentHome.filterByStatus('rejected')">
                    Rejected ({{ContentHome.rejectedCount}})
                </button>
                <button type="button" class="btn" ng-class="ContentHome.filterStatus === 'all' ? 'btn-primary' : 'btn-default'" ng-click="ContentHome.filterByStatus('all')">
                    All Posts
                </button>
            </div>
        </div>
    </div>

    <div class="empty-state" ng-if="!ContentHome.posts.length && !ContentHome.loading">
        <h4 class="text-center" style="font-size:16px; line-height:22px;">Looks like you do not have any posts yet. To add one, you can do so through the emulator to your right.</h4>
        <br>
    </div>
    <div class="empty-state" ng-if="ContentHome.loading">
        <h4 class="text-center" style="font-size:16px; line-height:22px;">Loading...</h4>
        <br>
    </div>
    <!-- <div class="">
        <h4 class="text-center" style="font-size:16px; line-height:22px;">Main topic subject</h4>
        <textarea class="form-control" ui-tinymce="ContentHome.descriptionWYSIWYGOptions"
        ng-model="ContentHome.descriptionWYSIWYG" placeholder="WYSIWYG" ng-change="ContentHome.setWYSIWYG()"></textarea>
    </div> -->
    <div
        style="overflow-y:auto;" class="infinite-scroll-parent">
        <div class="wrapper social-plugin" infinite-scroll-distance="0"
            data-infinite-container=".infinite-scroll-parent"
            infinite-scroll="ContentHome.startLoadingPosts"
            infinite-scroll-disabled="ContentHome.noMore">
            <div class="social-item" ng-repeat="post in ContentHome.posts">
                <div class="head flex align-items-center">
                    <div class="media-holder margin-right-ten">
                        <img ng-if="post.userDetails.imageUrl" load-image="1x1" data-final-src="{{post.userDetails.imageUrl}}">
                        <img ng-if="!post.userDetails.imageUrl" load-image="1x1" data-final-src="../../../../styles/media/avatar-placeholder.png">
                    </div>
                    <div class="">
                        <p class="ellipsis margin-bottom-zero">
                            {{getUserName(post.userDetails)}}
                        </p>
                        <p class="time-ago caption margin-bottom-zero">{{ContentHome.getDuration(post.createdOn) | convertTimeFormat}}</p>
                        <span ng-if="post.status" class="badge" ng-class="{'badge-warning': post.status === 'pending', 'badge-success': post.status === 'approved', 'badge-danger': post.status === 'rejected'}" style="margin-left: 10px;">
                            {{post.status | uppercase}}
                        </span>
                    </div>
                    <div class="icons left-auto">
                        <a class="social-icon"
                        ng-click="ContentHome.loadMoreComments(post,'viewComment')">
                        <i class="material-icons-outlined icons2Font notActive" aria-hidden="true">chat_bubble_outline</i>
                            <span class="number">{{post.comments.length}}</span>
                        </a>
                        <span class="social-icon margin-left-twenty">
                            <i class="material-icons-outlined likes-count" aria-hidden="true">favorite_border</i>
                            <span class="number">{{post.likes.length}}</span>
                        </span>
                    </div>
                </div>
                <div class="copy padded">
                    <p class="margin-zero" ng-bind-html="ContentHome.util.injectAnchors(post.text)|newLine"></a>
                        <snap ng-if="(post.text.length>150 && !post.seeMore)">...</snap>
                        <span ng-if="(post.text.length>150 && !post.seeMore)" ng-click="ContentHome.seeMore(post)" class="text-info">Read More</span>
                        <p ng-if="(post.text.length>150 && post.seeMore)" ng-click="ContentHome.seeLess(post)" class="text-info">Read Less</p>
                    </p>
                </div>
                <div class="plugin-banner clearfix margin-bottom-fifteen">
                    <div class="hes-gallery post-images" data-wrap="true" data-img-count="{{post.images.length}}" ng-init="initHesGallery()">
                        <img ng-repeat="image in post.images" ng-src="{{image}}" data-alt="Post image" style="max-width: 100%; height: auto;" onerror="console.error('[ImageError] Failed to load:', this.src);">
                    </div>
                    <div ng-if="post.videos && post.videos.length > 0" class="post-videos">
                        <video ng-repeat="video in post.videos" controls style="max-width: 100%; max-height: 300px;">
                            <source ng-src="{{video}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                
                <div class="social-footer">
                    <div class="status flex" style="flex-wrap: wrap; gap: 10px;">
                        <a class="text-danger padded-sm caption" ng-click="ContentHome.deletePost(post.id)">Delete Post</a>
                        <a class="btn btn-success btn-sm" ng-if="post.status === 'pending'" ng-click="ContentHome.approvePost(post.id)">Approve</a>
                        <a class="btn btn-danger btn-sm" ng-if="post.status === 'pending'" ng-click="ContentHome.rejectPost(post.id)">Reject</a>
                        <a class="left-auto padded-sm caption" ng-show="post.comments.length" ng-click="post.viewComments = !post.viewComments">
                            {{ post.viewComments ? 'Hide Comments' : 'Show Comments'}}
                        </a>
                    </div>
                    <div ng-if="post.moderatedBy && post.moderatedOn" class="padded-sm caption" style="font-size: 12px; color: #666;">
                        Moderated by {{post.moderatedBy}} on {{ContentHome.getDuration(post.moderatedOn) | convertTimeFormat}}
                        <span ng-if="post.moderationReason"> - Reason: {{post.moderationReason}}</span>
                    </div>
                </div>
                <hr class="small margin-zero" ng-if="post.comments.length && post.viewComments">
                <div class="comments-list" ng-if="post.comments.length && post.viewComments">
                    <div class="social-comment padded" ng-repeat="comment in post.comments">

                        <div class="head clearfix margin-bottom-zero flex">
                            <div class="thread-comment">
                                <p class="ellipsis margin-bottom-zero">{{getUserName(comment.userDetails)}}</p>
                                <p class="time-ago caption">{{ContentHome.getDuration(comment.createdOn) | convertTimeFormat}}</p>
                            </div>
                            <div class="icons left-auto">
                                <span class="social-icon">
                                    <i class="material-icons-outlined likes-count" aria-hidden="true">favorite_border</i>
                                    <span class="number">{{comment.likes.length}}</span>
                                </span>
                            </div>
                        </div>

                        <div class="copy margin-bottom-five">
                            <p class="margin-zero" ng-if="!comment.deletedOn" ng-bind-html="ContentHome.util.injectAnchors(comment.comment) | newLine"></p>
                            <p class="margin-zero" ng-if="comment.deletedOn">
                                This message was deleted.
                            </p>
                        </div>
                        <div class="hes-gallery post-images" data-wrap="true" ng-show="comment.imageUrl.length" data-img-count="{{comment.imageUrl.length}}" ng-init="initHesGallery()">
                            <img ng-repeat="imageUrl in comment.imageUrl" ng-src="{{ContentHome.util.resizeImage(imageUrl)}}" data-alt="Post image">
                        </div>
                        <div class="social-footer flex">
                            <a class="text-danger padded-sm caption padding-left-zero" ng-click="ContentHome.deleteComment(post, comment)">Delete Comment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
